* {
  font-family: "Playwrite DE Grund", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}


h1,
h2,
h3,
input,
button {
  font-family: "Fredoka", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: #eff6ff;
  gap: 14px;
  background-image: url('/images/background.jpg'); /* Access directly from public folder */
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  align-items: stretch;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
}

header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
}

header button {
  border-radius: 14px;
  background: transparent;
  transition-duration: 200ms;
  cursor: pointer;
}

header button:hover {
  opacity: 0.7;
}

header button,
header input {
  padding: 14px 18px;
  border: none;
  outline: none;
  background: white;
}

p {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.completed {
  text-decoration: line-through;
  color: grey;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background: white;
  transition: font-weight 0.3s ease-in-out;
}

.todoItem p {
  flex: 1;
}

.todoItem input {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  text-align: left;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.todoItem input:focus {
  caret-color: hsl(341, 100%, 50%)
}

.todoItem input::selection {
  background-color: hsl(341, 100%, 82%);
}

.todoItem.saved p {
  font-weight: bold;
  color:hsl(341, 100%, 50%);
}

.actionsContainer {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 14px;
  width: 100%;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}



@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}